<div class="center hero-unit" >
  <h1>Welcome to TopSpots</h1>

  <p>Your go to place for the Top Spots in your city</p>

  <%= link_to "New York City", posts_path, 
                              class: "btn btn-large btn-primary" %>
  <%= link_to "Chichago", "", 
                              class: "btn btn-large btn-primary" %>
  <%= link_to "San Francisco", "", 
                              class: "btn btn-large btn-primary" %>                    
</div>
