<h1 class="hero-unit">New York City</h3>
<div class="container">	
<% @posts.each do |post| %>
	<h3>
	  <%= image_tag("photo.jpg", alt: "Spot") %>
	  <%= link_to post.title, post %>
    </h3> 
	<p>
	  <%= post.content %>
	</p>
	<hr />
<% end %>	
</div>